

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


header h1 {
    font-size: 2em;
    margin: 0; 
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0; 
}

nav a {
    text-decoration: none;
    color: black;
    transition: color 0.3s; 
}

nav a:hover {
    color: grey; 
}


main {
    flex: 1; 
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

main section {
    text-align: center;
}

main h2 {
    margin-bottom: 10px;
}

main img {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}


footer p {
    font-size: 0.8em;
    margin: 0;
}
